@font-face
{
    font-family: PBold;
    src: url('./fonts/heavyfont.otf');
}
@font-face
{
    font-family: ExtraBold;
    src: url('./fonts/extrabold.otf');
}
@font-face
{
    font-family: thinfont;
    src: url('./fonts/thinfont.otf');
}
.container, .container-fluid
{
    padding-left:2rem !important;
    padding-right:2rem !important;
    margin: 0 !important;
}
.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.first_block
{
    background-size: cover !important;
    height: 100vh;
    position: relative;
    -ms-background-position-x: center !important;
    -ms-background-position-y: bottom !important;
    background-position: center bottom !important;
}
.navbar_row
{
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 10px -6px rgb(0, 0, 0, .16);
    background: white;
}
#navbar_btn
{
    display: none;
    float: right;
    margin-top: 1rem;
    line-height: 7rem;
}
.bar
{
    background-color: white;
    width: 4rem;
    height: .4rem;
    border-radius: 30%;
    margin: 6px 0;
}
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 2.5rem;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 5rem;
  color: black;
  display: block;
  transition: 0.3s;
   font-family: PBold;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 8rem;
}
.header_block
{
    font-family: PBold;
    color: RGB(243, 244, 246);
    text-shadow: 1px 1px 2px black;
    height: 7rem;
    margin-left: 1rem;
    font-size: 4rem;
}
.navbar_custom
{
    list-style: none;
    line-height: 7rem;
    float: right;
    background: cover;
}
.navbar_custom li
{
    display: inline-block;
    margin: 0 1.5rem;
    font-size: 2rem;
    font-family: PBold;
    color: white;
    opacity: .9;
    text-shadow: 1px 1px 4px black;
}
.header_block a
{
    color: inherit;
    text-decoration: none;
}
.header_block a:hover
{
    cursor: pointer;
    color: inherit;
}
.navbar_custom li a
{
    color: inherit;
    text-decoration: none;
}
.navbar_custom li a:hover   
{
    cursor: pointer;
}
#heading
{
    position: absolute;
    top: 45%;
    left: 5%;
    transform: translateY(-50%);
    font-size: 12rem;
    font-family: PBold; 
    letter-spacing: 3px;
    color: white;
    text-shadow: 1px 1px 2px black;
}
.footer_custom
{
    background: linear-gradient(to top, #243B55, #141E30);
    /*background: linear-gradient(#6230f2 10%, #a103fc 60%);*/
    background-size: cover !important;
    height: 32rem !important;
    font-family: PBold;
}
.footer_custom h3
{
    font-size: 3rem;
    color: rgb(255, 255, 255, .8);
}
#quick_links
{
    padding: 2rem 0 0 5rem;
}
#quick_links ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 2rem;
}
#quick_links ul li
{
    padding: 1rem 0;
    font-size: 1.5rem;
    color: rgb(255,255,255);
}
#footer_contact
{
    list-style: none;
    padding: 0;
    padding-top: 2rem;
}
#footer_contact li
{
    padding: 1rem 0;
}
#footer_contact img
{
    width: 3rem;
    display: inline-block;
}
#footer_contact p
{
    display: inline-block;
    font-size: 1.5rem;
    padding: 0 1rem;
    color: white;
}
#socials img
{
    width: 8rem;
    display: inline-block;
    padding: 0 2rem; 
}
#socials a:hover
{
    cursor: pointer;
}
.copyright
{
    text-align: center;
}
.copyright p
{
    font-size: 1.5rem;
    color: rgb(255,255,255,.8);
    padding-top: 23rem;
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 45% !important;
  }
    #quick_links
    {
        padding-left: 1rem;
        padding-top: 1rem;
    }
    #footer_contact
    {
        padding-top: 4rem;
    }
    #footer_contact img
    {
        width: 2rem;
    }
    #footer_contact p
    {
        padding: 0;
        margin: 0;
        font-size: 1rem;
    }
    #footer_contact li
    {
        padding: .5rem 0;
    }
    .footer_custom h3
    {
        font-size: 2.5rem;
    }
    #socials
    {
        padding-top: 5rem;
    }
    #socials a
    {
        padding: 0 1rem;
    }
    #socials img
    {
        width: 3rem;
        padding: .2rem 0;
    }
    .contact_col
    {
        padding-top: 1rem !important;
    }
  .desktop
  {
    display: none;  
  }
  #navbar_btn
  {
    display: inline-block;
  }
  .first_block
  {
    height: 50vh;
  }
  #heading
  {
    font-size: 6rem;      
  }
  .copyright p  
  {
    font-size: .5rem;  
  }
}

@media only screen and (max-width: 375px)
{
    html
    {
        font-size: 35% !important;
    }
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 35% !important;
  }
}

@media only screen and (min-width: 900px) {
  html {
    font-size: 45% !important;
  }
}
@media only screen and (min-width: 1280px) {
  html {
    font-size: 62.5% !important;
  }
}
@media only screen and (min-width: 4000) {
  html {
    font-size: 115% !important;
  }
}