#form_card
{
    width: 90%;
    border-radius: 25px;
    box-shadow: 0px 2px 5px rgb(0,0,0,.5);
    margin: 0 auto !important;
}
form
{
    padding-left: 4rem;
}
#form_card label
{
    color: RGB(60, 75, 105);
    font-size: 1.5rem;
    font-family: thinfont;
}
#form_card input, #form_card select
{
    width: 25rem;
    font-size: 1.5rem;
    height: 4rem;
    border-radius: 1rem;
    background-color: #f3f4f6;
    border: 2px solid #9b9b9c;
}
#submit_btn
{
    width: 15rem;
    margin: 3rem auto;
    height: 5rem;
    font-family: PBold;
    color: white;
    background: #018ec4;
    border: none;
    border-radius: 1rem;
    font-size: 2rem;
    letter-spacing: 2px;
}
#submit_btn
{
    width: 15rem;
    margin: 3rem auto;
    height: 5rem;
    font-family: PBold;
    color: white;
    background: #018ec4;
    border: none;
    border-radius: 1rem;
    font-size: 2rem;
    letter-spacing: 2px;
}
@media only screen and (max-width: 600px)
{
    #form_card
    {
        width: 90%;
        margin: 5rem auto 0 auto !important;
    }
    #form_card label
    {
        font-size: 2.5rem;
    }
    #form_card input, #form_card select
    {
        height: 5rem;
        width: 30rem;
    }
}